*{ 
    margin: 0px ;
    padding: 0px;
}  
body{ 
    background-color: antiquewhite;
} 
nav{ 
    font-family: fantasy; 
    color: white;
} 
ul{
    display: flex; 
    list-style: none; 
    background-color: black; 
    height: 65px; 
    align-items: center;
}  
.brand img{ 
    width: 44px; 
    padding-right: 10px;
} 
.brand{ 
    display: flex;
    align-items: center; 
    font-size: 1.3rem; 
    

}


ul li{ 
     padding:  10px; 
     border-radius: 10px;

}  
   .home:hover{ background-color: white; 
color: black;}   
.about:hover{ 
    background-color: white;
    color: black;
} 
.download:hover{ background-color: white; 
    color: black;}    
    .support:hover{ background-color: white; 
        color: black;}  
        .premium:hover{ background-color: white; 
            color: black;}   
            .signup{  
                font-size: 120%;
                position: absolute; 
                right: 100px; 
                cursor: pointer;
            }   
            .login{  background-color: white;  
                box-shadow: ;
                font-size: 120%;
                position: absolute;
                right: 20px; 
                border-radius: 50px; 
                color: black; 
                cursor: pointer;
            }  
          .login:hover{ 
            color: gray;
          }  
.container{ 
    height: 72vh; 
    background-color: black;
    color: white; 
    display: flex;  
    flex-direction: column;
    width: 70%;
    margin: 23px auto; 
    border-radius: 10px; 
    padding: 34px; 
    background-image: url("13189.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    font-size: 1rem;
}
.bottom{   
    background-color: black;
    position: sticky;
   height: 100px;  
   display: flex;  
  align-items: center;
  justify-content: center; 
  flex-direction: column;

   
} 
#range{  

    
    width: 80vw;
} 
.icons{  color: white;  
    padding-top: 14px; 

    
}  
.icons i { 
    cursor: pointer; 
    
} 
.icons i:hover{ 
    color: aqua;
} 
.song{  
    display: flex;
    margin-top: 10px; 
    color: yellow;   
    font-size: large;   
    
} 
.song img{ 
    width: 80px; 
    border-radius: 30px;
}
.song span{ 
    margin-top: 30px; 
    margin-left: 20px;
} 
.songlist h1{   
    display: inline-block; 
    margin-left: 390px; 
    font-size: 2rem;
} 
.songinfo {  
    display: flex;
    color: white; 
    margin-top: 0px; 
    
} 
.songinfo img{  
    display: ;
    width: 70px; 
    position: relative; 
    right: 0px;
    bottom: 2px;  
    opacity: 0; 
    transition: opacity 0.3s ease-out;
} 
.songinfo span {  
    position: relative;
       top: 10px; 
       right: 30px;
}